[flake8]
ignore =
        # Whitespace before ':'
        E203,
        # Too many leading '#'
        E266,
        # Line too long (82 &gt; 79 characters)
        E501,
        # Line break occurred before a binary operator
        W503,
        # 'from module import *' used; unable to detect undefined names
        F403,
        # Module imported but unused
        F401,
        # f-string is missing placeholders
        F541,
        # do not use bare except
        E722,
        # Redefinition of unused name from
        F811,
        # Do not assign a lambda expression, use a def
        E731,
        # Undefined name
        F821
max-line-length = 120
max-complexity = 20
select = B,C,E,F,W,T4,B9
exclude =
        **/node_modules,
        **/__pycache__,
        **/venv*,
        **/package*,
        **/test*
        src/generated
